.wpmu-focus-point__marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #2271b1;
    border-radius: 50%;
    pointer-events: none;
}

tr.compat-field-focusX,
tr.compat-field-focusY {
    display: none;
}

.wpmu-focus-point__container {
    position: relative;
    display: flex;
    justify-content: center;
    img {
        margin: 0 !important;
    }
}

// .edit-attachment-frame .attachment-media-view {
//     .thumbnail.thumbnail-image {
//         display: flex;
//         flex-direction: column;
//         margin: 0;
//         gap: 1rem;

//         .details-image {
//             margin: 0;
//         }
//     }
// }